/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


[data-theme='dark'] .heroBanner {
  height: calc(0.382 * (100vh - var(--ifm-navbar-height)));
  text-align: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at center, var(--ifm-color-primary-lightest) 0%, var(--ifm-color-primary-light) 50%, var(--ifm-color-primary) 100%);
}
[data-theme='light'] .heroBanner {
  height: calc(0.382 * (100vh - var(--ifm-navbar-height)));
  text-align: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at center, var(--ifm-color-primary-darkest) 0%, var(--ifm-color-primary-darker) 50%, var(--ifm-color-primary-dark) 100%);
}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  opacity: 0.97;
  margin-bottom: 0.25rem;
}

.heroSubtitle {
  margin: 0 auto 0;
  font-size: 1.15rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0.618;
}

.heroTagline {
  margin: 0 auto;
  max-width: 680px;
  font-size: 1.0rem;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foundationalIdentity {
  margin: 0 auto;
  max-width: 720px;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
}
